page-main {
    .grid{
        display: grid;
        grid-template-columns: repeat(9,1fr);
    }
    .grid-main{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
        "image image image image image image image image image";
        .image{
            grid-area: image;
        }
    }
    .container{
        grid-column: span 9;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    img{
        min-height: 100%;
    }
    .iconPlay{
        opacity: .3;
        color: #fff !important;
        position: absolute;
        font-size: 3em;
        bottom: .3em;
        right: .7em;
        animation: neon1 1.5s ease-in-out infinite alternate;
    }
    @keyframes neon1 {
        from{
            text-shadow: 
            0 0 5px #fff,
            0 0 20px #fff,
            0 0 30px #228DFF,
            0 0 40px #228DFF,
            0 0 70px #228DFF;
            opacity: .3;
        }
        to{
            text-shadow: 
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 15px #fff,
            0 0 20px #228DFF,
            0 0 35px #228DFF;
            opacity: 1;
        }
    }     
}
