page-main {
    .grid{
        display: grid;
        grid-template-columns: repeat(9,1fr);
    }
    .grid-main{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
        "image image image image image image image image image";
        .image{
            grid-area: image;
        }
    }
    .container{
        grid-column: span 9;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    img{
        min-height: 100%;
    }
    .iconPlay{
        position: absolute;
        bottom: 1.5em;
        right: 1em;
        height: 50px;
        width: 50px;
    }
    .iconInit{
        animation: animate 5s infinite; 
    }
    @keyframes animate {
        0% { opacity: 1; }
        30% { opacity: 0.5; }
        50% { opacity: 0.1; }
        70% { opacity :0.5; }
	    100% { opacity: 1.5; }
    }
}
