page-home{
    ion-content{
        background: #000000;
        .controls{
            background: #000000;
            display: inline-block;
            width: 100%;
            height: 10%;
            .iconNext{
                margin: 10px 40px;
                float: right;
                width: 30px;
                height: 30px;
                z-index: 999;
            }
            .iconPrev{
                margin: 10px 40px;
                transform: rotate(180deg);    
                float: left;
                width: 30px;
                height: 30px;
                z-index: 999;
            }
        }
    }    
}


