@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

page-home{
    ion-content{
        background: #000000;
        h1{
            font-size: 80px;
            font-family: 'Do Hyeon', sans-serif;
            animation: neon1 1.5s ease-in-out infinite alternate;
        }
        p{
            text-align: center;
            font-size: 1em;
            color: #fff;
            font-family: 'Do Hyeon', sans-serif;
            animation: neon1 1.5s ease-in-out infinite alternate;
        }
        .col{
            align-self: center;
            opacity: 0;
            animation-fill-mode: both;
            animation-name: appear;
            animation-duration: 3s;
        }
        .slide-zoom{
            position: absolute;
            animation-fill-mode: both;
            animation-name: appear;
            animation-duration: 3s;
        }
        .textAppear{
            opacity: 0;
            animation-fill-mode: both;
            animation-name: appear;
            animation-duration: 3s;
        }
        .iconFast{
            opacity: 0;
            width: 50%;
            height: 50%;
            margin: auto;
            animation: animate 3s infinite; 
        }
        .controls{
            background: #000000;
            display: inline-block;
            width: 100%;
            height: 10%;
            .iconNext{
                margin: 10px 40px;
                float: right;
                width: 30px;
                height: 30px;
                z-index: 999;
            }
            .iconPrev{
                margin: 10px 40px;
                transform: rotate(180deg);    
                float: left;
                width: 30px;
                height: 30px;
                z-index: 999;
            }
        }
    }
    @keyframes animate {
        0% { opacity: 0; }
        50% { opacity: 0.5; }
	    100% { opacity: 1.5; }
    }
    @keyframes appear {
        0%{opacity: 0;}
        50% { opacity: 0.7;}
	    100%{opacity: 1;}
    }
    @keyframes neon1 {
        from{
            text-shadow: 
            0 0 5px #fff,
            0 0 20px #fff,
            0 0 30px #228DFF,
            0 0 40px #228DFF,
            0 0 70px #228DFF,

        }
        to{
            text-shadow: 
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 15px #fff,
            0 0 20px #228DFF,
            0 0 35px #228DFF,
        }
    }    
}


