@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

page-home{
    ion-content{
        ion-slide{
            background: #000000;
            color: #fff;
        }
        .grid{
            width: 100%;
            height: 100%;
        }
        .row{
            align-items: flex-start;
            //align-items: stretch;
            //justify-content: start;
            margin: 0;
        }
        svg{
            display: flex;
            margin: auto;
            padding-top: 170px;
        }
        text{
            text-shadow: 
                        0 0 5px #fff,
                        0 0 30px #228DFF,
                        0 0 40px #228DFF,
        }
        .col{
            align-self: center;
            //align-self: stretch; 
            .h1Inicio{
                float: left;
                margin-top: 0;
                margin-left: 10%;
                font-size: 60px;
                letter-spacing: 3px;
                font-family: 'Do Hyeon', sans-serif;
                text-shadow: 
                            0 0 5px #fff,
                            0 0 20px #fff,
                            0 0 30px #228DFF,
                            0 0 40px #228DFF,
                            0 0 70px #228DFF;
            }
            .pInicio{
                text-align: left;
                float: left;
                margin-left: 10%;
                font-size: 1.5em;
                letter-spacing: 1px;
                color: #fff;
                font-family: 'Do Hyeon', sans-serif; 
                text-shadow: 
                            0 0 5px #fff,
                            0 0 10px #fff,
                            0 0 15px #fff,
                            0 0 20px #228DFF,
                            0 0 35px #228DFF;
            }
            .pSlide2{
                text-align: left;
                margin-left: 30%;
                font-size: 2em;
                color: #fff;
                font-family: 'Do Hyeon', sans-serif;
                text-shadow: 
                            0 0 5px #fff,
                            0 0 20px #fff,
                            0 0 30px #228DFF,
                            0 0 40px #228DFF,
                            0 0 70px #228DFF;
            }
            .number{
                float: left;
                margin-left: 30%;
                font-size: 8em;
                font-family: 'Do Hyeon', sans-serif;
                text-shadow: 
                            0 0 5px #fff,
                            0 0 20px #fff,
                            0 0 30px #228DFF,
                            0 0 40px #228DFF,
                            0 0 70px #228DFF;
            }
        }
        .iconFast{
            font-size: 6em !important;
            margin-left: 15%;
            text-shadow: 
                        0 0 5px #fff,
                        0 0 20px #fff,
                        0 0 30px #228DFF,
                        0 0 40px #228DFF,
                        0 0 70px #228DFF;
        }
        .pulse{
            position: relative;
            width: 40px;
            height: 40px;
            z-index: 999;
            background: rgba(34, 141, 255, .5);
            border-radius: 50%;
            float: left;
            top: 10.2em;
            margin-left: 13.5em;
            animation: animate 2s linear infinite;
        }
        .pulse2{
            position: relative;
            width: 40px;
            height: 40px;
            z-index: 999;
            background: rgba(34, 141, 255, .5);
            border-radius: 50%;
            float: left;
            top: 17.8em;
            margin-left: 10em;
            animation: animate 2s linear infinite;
        }
        .pulse3{
            position: relative;
            width: 40px;
            height: 40px;
            z-index: 999;
            background: rgba(34, 141, 255, .5);
            border-radius: 50%;
            float: left;
            top: 3.8em;
            margin-left: 12em;
            animation: animate 2s linear infinite;
        }
        .controls{
            background: #000000;
            display: inline-block;
            width: 100%;
            height: 10%;
            .iconNext{
                color: #fff !important;
                font-size: 2.5em;
                margin-top: 10px !important;
                margin-right: 20%;
                float: right;
                z-index: 999 !important;
                text-shadow: 
                            0 0 10px #fff,
                            0 0 30px #228DFF,
            }
            .iconPrev{
                color: #fff !important;
                font-size: 2.5em;
                margin-top: 10px !important;
                margin-left: 20%;
                transform: rotate(180deg);    
                float: left;
                z-index: 999 !important;
                text-shadow: 
                            0 0 10px #fff,
                            0 0 30px #228DFF,
            }
        }
        .imgCelu{
            width: 70% !important;
            height: 70% !important;
        }
    }
    @keyframes fivePhasesFadeIn {
        0%{opacity: 0;}
        25%{opacity: .25;}
        50%{opacity: .5;}
        75%{opacity: .75;}
        100%{opacity: 1;}

    }
    @keyframes neon1 {
        from{
            text-shadow: 
            0 0 5px #fff,
            0 0 20px #fff,
            0 0 30px #228DFF,
            0 0 40px #228DFF,
            0 0 70px #228DFF;
        }
        to{
            text-shadow: 
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 15px #fff,
            0 0 20px #228DFF,
            0 0 35px #228DFF;
        }
    }
    @keyframes animate {
        0%{
            box-shadow: 0 0 0 0 rgba(34, 141, 255, .7), 0 0 0 0 rgba(34, 141, 255, .7)
        }
        40%{
            box-shadow: 0 0 0 0 rgba(34, 141, 255, 0), 0 0 0 10px rgba(34, 141, 255, .3)
        }
        80%{
            box-shadow: 0 0 0 0 rgba(34, 141, 255, 0), 0 0 0 30px rgba(34, 141, 255, 0)
        }
        100%{
            box-shadow: 0 0 0 0 rgba(34, 141, 255, 0), 0 0 0 30px rgba(34, 141, 255, 0)
        }
    }
}


